In [7]:
import cx_Oracle
import pandas as pd
import sqlalchemy
from sqlalchemy.exc import SQLAlchemyError

In [8]:
data = {}

dbtable = 'z3dmc.meb_dmc'
username = 'dmcro'
password = 'ouZ9Rys7astDp4byjUvO'
dsn = 'vwpnwrud0000rac:1521/dmc.vwg'
dbhostname='vwpnwrud0000rac'
service_name='dmc.vwg'

In [14]:
try:
   sqlalchemy_engine="oracle+cx_oracle://"+username+":"+password+"@"+dbhostname+"/?service_name="+service_name
   engine = sqlalchemy.create_engine(sqlalchemy_engine, arraysize=1000)
   dmc_sql = "select * from "+dbtable+" where rownum<10 order by ID_DMC desc"
   df_dmc = pd.read_sql(dmc_sql, engine)
   print(df_dmc)
except SQLAlchemyError as e:
   print(e)

   id_dmc                                         dmc  status_koncowy  \
0    2071  0MH301103CVW41910090437321102S111910040418               1
1    2070  0MH301103CVW41910090437211102S111910040342               2
2    2069  0MH301103CVW41910090437121102S111910040330             107
3    2068  0MH301103CVW41910090437011102S111910040351               1
4    2067  0MH301103CVW41910090436721102S111910040345               2
5    2066  0MH301103CVW41910090436611102S111910040356               2
6    2065  0MH301103CVW41910090436521102S111910040350               2
7    2064  0MH301103CVW41910090436411102S111910040410               1
8    2063  0MH301103CVW41910090436321102S111910040455               2

            timestamp         update_time  id_meb_containers  \
0 2019-10-09 08:33:13 2019-11-06 06:49:05                504
1 2019-10-09 08:32:53 2019-11-06 09:14:37                366
2 2019-10-09 08:32:26 2019-11-12 06:32:27                366
3 2019-10-09 08:18:26 2019-11-06 05:26:55                504
4 2019-10-09 08:18:05 2019-10-09 08:22:31                  0
5 2019-10-09 08:17:45 2019-11-06 05:40:39                366
6 2019-10-09 08:13:58 2019-11-06 06:47:19                366
7 2019-10-09 08:09:27 2019-11-06 05:50:29                  0
8 2019-10-09 08:09:07 2019-11-06 05:40:27                366

          packed_time first_packed_time dmc_casting  production_step
0 2019-11-06 06:49:04              None        None            700.0
1 2019-11-06 09:14:36              None        None            700.0
2 2019-11-12 06:32:26              None        None            700.0
3 2019-11-06 05:26:54              None        None            700.0
4                 NaT              None        None              NaN
5 2019-11-06 05:40:38              None        None            700.0
6 2019-11-06 06:47:18              None        None            700.0
7 2019-10-09 08:18:06              None        None            500.0
8 2019-11-06 05:40:26              None        None            700.0

In [10]:
df_dmc.head()

,id_dmc,dmc,status_koncowy,timestamp,update_time,id_meb_containers,packed_time,first_packed_time,dmc_casting,production_step
0,2071,0MH301103CVW41910090437321102S111910040418,1,2019-10-09 08:33:13,2019-11-06 06:49:05,504,2019-11-06 06:49:04,None,None,700.0
1,2070,0MH301103CVW41910090437211102S111910040342,2,2019-10-09 08:32:53,2019-11-06 09:14:37,366,2019-11-06 09:14:36,None,None,700.0
2,2069,0MH301103CVW41910090437121102S111910040330,107,2019-10-09 08:32:26,2019-11-12 06:32:27,366,2019-11-12 06:32:26,None,None,700.0
3,2068,0MH301103CVW41910090437011102S111910040351,1,2019-10-09 08:18:26,2019-11-06 05:26:55,504,2019-11-06 05:26:54,None,None,700.0
4,2067,0MH301103CVW41910090436721102S111910040345,2,2019-10-09 08:18:05,2019-10-09 08:22:31,0,NaT,None,None,NaN

In [11]:
connection=cx_Oracle.connect(username,password,dsn,encoding='UTF-8')
connection.version
connection.close()

In [12]:
try:
    with cx_Oracle.connect(username,password,dsn,encoding='UTF-8') as connection:
        with connection.cursor() as cursor:
            cursor.execute(dmc_sql)
            while True:
                row = cursor.fetchone()
                if row is None:
                    break
                print(row)
                data={'id':row[0],'dmc':row[1]}
    cursor.close()
    connection.close()
except cx_Oracle.Error as error:
    print(error)

(2071, '0MH301103CVW41910090437321102S111910040418', 1, datetime.datetime(2019, 10, 9, 8, 33, 13), datetime.datetime(2019, 11, 6, 6, 49, 5), 504, datetime.datetime(2019, 11, 6, 6, 49, 4), None, None, 700)
(2070, '0MH301103CVW41910090437211102S111910040342', 2, datetime.datetime(2019, 10, 9, 8, 32, 53), datetime.datetime(2019, 11, 6, 9, 14, 37), 366, datetime.datetime(2019, 11, 6, 9, 14, 36), None, None, 700)
(2069, '0MH301103CVW41910090437121102S111910040330', 107, datetime.datetime(2019, 10, 9, 8, 32, 26), datetime.datetime(2019, 11, 12, 6, 32, 27), 366, datetime.datetime(2019, 11, 12, 6, 32, 26), None, None, 700)
(2068, '0MH301103CVW41910090437011102S111910040351', 1, datetime.datetime(2019, 10, 9, 8, 18, 26), datetime.datetime(2019, 11, 6, 5, 26, 55), 504, datetime.datetime(2019, 11, 6, 5, 26, 54), None, None, 700)
(2067, '0MH301103CVW41910090436721102S111910040345', 2, datetime.datetime(2019, 10, 9, 8, 18, 5), datetime.datetime(2019, 10, 9, 8, 22, 31), 0, None, None, None, None)
(2066, '0MH301103CVW41910090436611102S111910040356', 2, datetime.datetime(2019, 10, 9, 8, 17, 45), datetime.datetime(2019, 11, 6, 5, 40, 39), 366, datetime.datetime(2019, 11, 6, 5, 40, 38), None, None, 700)
(2065, '0MH301103CVW41910090436521102S111910040350', 2, datetime.datetime(2019, 10, 9, 8, 13, 58), datetime.datetime(2019, 11, 6, 6, 47, 19), 366, datetime.datetime(2019, 11, 6, 6, 47, 18), None, None, 700)
(2064, '0MH301103CVW41910090436411102S111910040410', 1, datetime.datetime(2019, 10, 9, 8, 9, 27), datetime.datetime(2019, 11, 6, 5, 50, 29), 0, datetime.datetime(2019, 10, 9, 8, 18, 6), None, None, 500)
(2063, '0MH301103CVW41910090436321102S111910040455', 2, datetime.datetime(2019, 10, 9, 8, 9, 7), datetime.datetime(2019, 11, 6, 5, 40, 27), 366, datetime.datetime(2019, 11, 6, 5, 40, 26), None, None, 700)
not open