In [1]:
#import cx_Oracle
import pandas as pd
import sqlalchemy
from sqlalchemy.exc import SQLAlchemyError

<h1>Pobieranie danych z bazy</h1>

In [2]:
data = {}

dbtables = ['MEB_DGM', 'MEB_DMC', 'MEB_GROB', 'MEB_KO', 'MEB_KO_DGM', 'MEB_KO_RODZAJ', 'MEB_KO_STREFA', 'MEB_KS', 'ONI_CIRCUITS']
username = 'dmcro'
password = 'ouZ9Rys7astDp4byjUvO'
dsn = 'vwpnwrud0000rac:1521/dmc.vwg'
dbhostname='vwpnwrud0000rac'
service_name='dmc.vwg'

In [3]:
try:
    sqlalchemy_engine="oracle+cx_oracle://"+username+":"+password+"@"+dbhostname+"/?service_name="+service_name
    engine = sqlalchemy.create_engine(sqlalchemy_engine, arraysize=1000)
    for table in dbtables:
        query = f"select * from z3dmc.{table} where rownum<101"
        data.update({table: pd.read_sql(query, engine)})
except SQLAlchemyError as e:
    print(e)

<h1>Usuwanie zbędnych kolumn z tabel</h1>

In [4]:
print(list(data.keys()))
# Useless tables
# MEB_CONTAINERS, MEB_DMC_GRADE, MEB_KS_WZORC

['MEB_DGM', 'MEB_DMC', 'MEB_GROB', 'MEB_KO', 'MEB_KO_DGM', 'MEB_KO_RODZAJ', 'MEB_KO_STREFA', 'MEB_KS', 'ONI_CIRCUITS']

In [5]:
# ONI CIRCUITS
# print(data['ONI_CIRCUITS'].head())
data['ONI_CIRCUITS'].drop(columns=['timestamp'], inplace=True)
print("\n ONI_CIRCUITS after drop of columns: \n")
print(data['ONI_CIRCUITS'].head())

 ONI_CIRCUITS after drop of columns:

   id_circuit  assigment  flow  ref_time  set_point  start_delay  temp  \
0     2052059         17  11.6         0          0            2  87.0
1     2054892         17  14.3         0         15            2  97.2
2     2054900          2   9.6         0         25            5  92.1
3     2054908         17  11.1         0         35            2  77.8
4     2054916         17  13.3         0         15            2  78.0

   working_mode  circuit_nr  id_dmc
0             3          27  319248
1             2           4  319339
2             0          12  319339
3             2          20  319339
4             2          28  319339

In [6]:
# MEB_DGM
# print(data['MEB_DGM'].columns)
# print(data['MEB_DGM'].head(5))
# ('metal_level', 'metal_pressure') - We do not collect this data yet
data['MEB_DGM'].drop(columns=['timestamp', 'data_znakowania', 'data_odlania', 'metal_level', 'metal_pressure'], inplace=True)
print("\n MEB_DGM after drop of columns: \n")
print(data['MEB_DGM'].head(5))

 MEB_DGM after drop of columns:

     id                    dmc  nr_dgm status  czas_fazy_1  czas_fazy_2  \
0   220  190627091611011003610      10      4         1850           88
1  3416  190719071611011006077      10      1         2197           89
2  3417  190719071811011006078      10      1         2184           86
3  3418  190719072011011006079      10      1         2159           89
4  3419  190719072111011006080      10      1         2175           89

   czas_fazy_3  max_predkosc  cisnienie_tloka  cisnienie_koncowe  ...  \
0         47.5          6.52                7                264  ...
1         46.5          6.59               11                285  ...
2         45.0          6.52                8                284  ...
3         45.5          6.54                6                284  ...
4         47.0          6.57                8                283  ...

   oni_temp_curr_f2  oni_temp_fore_f1  oni_temp_fore_f2 vds_air_pressure  \
0              None              None              None             None
1              None              None              None             None
2              None              None              None             None
3              None              None              None             None
4              None              None              None             None

  vds_vac_hose1 vds_vac_hose2 vds_vac_tank vds_vac_valve1 vds_vac_valve2  \
0          None          None         None           None           None
1          None          None         None           None           None
2          None          None         None           None           None
3          None          None         None           None           None
4          None          None         None           None           None

  czas_taktu
0       None
1       None
2       None
3       None
4       None

[5 rows x 25 columns]

In [7]:
#MEB_DMC
# print(data['MEB_DMC'].columns)
# print(data['MEB_DMC'].head(5))
data['MEB_DMC'].drop(columns = ['timestamp', 'update_time','id_meb_containers', 'packed_time', 'first_packed_time', 'production_step'], inplace = True)
print("\n MEB_DMC after drop of columns: \n")
print(data['MEB_DMC'].head(5))

 MEB_DMC after drop of columns:

   id_dmc                                         dmc  status_koncowy  \
0    2063  0MH301103CVW41910090436321102S111910040455               2
1    2064  0MH301103CVW41910090436411102S111910040410               1
2    2065  0MH301103CVW41910090436521102S111910040350               2
3    2066  0MH301103CVW41910090436611102S111910040356               2
4    2067  0MH301103CVW41910090436721102S111910040345               2

  dmc_casting
0        None
1        None
2        None
3        None
4        None

In [8]:
#MEB_KO
# print(data['MEB_KO'].columns)
# print(data['MEB_KO'].head(5))
data['MEB_KO'].drop(columns = ['data', 'timestamp', 'eks'], inplace = True)
print("\n MEB_KO after drop of columns: \n")
print(data['MEB_KO'].head(5))

 MEB_KO after drop of columns:

   id_ko  id_dmc  nok_strefa  nok_rodzaj  status_ko
0   2803    2065           0           0          1
1   2804    2064           0           0          1
2   2805    2062           0           0          1
3   2806    2063           0           0          1
4   2807    2067         513         202          2

In [9]:
#MEB_KO_DGM
# print(data['MEB_KO_DGM'].columns)
# print(data['MEB_KO_DGM'].head(5))
data['MEB_KO_DGM'].drop(columns = ['data_odlania', 'timestamp', 'operator'], inplace = True)
print("\n MEB_KO_DGM after drop of columns: \n")
print(data['MEB_KO_DGM'].head(5))

 MEB_KO_DGM after drop of columns:

   id_ko  id_dmc  nok_strefa  nok_rodzaj  status_ko  rodzaj_kontroli  \
0    497   72978           0           0          1                1
1    498   72977           0           0          1                1
2    499   72980           0           0          1                1
3    500   72981           0           0          1                1
4    501   73020         511         402          2                2

  product_id line_id
0       None    None
1       None    None
2       None    None
3       None    None
4       None    None

In [10]:
# MEB_KS
# print(data['MEB_KS'].columns)
# print(data['MEB_KS'].head(5))
data['MEB_KS'].drop(columns = ['id_ks', 'nrgniazda', 'liczbawystapien', 'nrformy', 'data', 'timestamp', 'gradedmc_max','gradedmc_aktualny'], inplace = True)
print("\n 'MEB_KS' after drop of columns: \n")
print(data['MEB_KS'].head(5))

 'MEB_KS' after drop of columns:

   cisnienie  przeciek  nrprogramu  temperaturatestu  statusszczelnosc  \
0      1.051     3.085           1         19.119999                 1
1      1.051     1.179           1         18.840000                 1
2      1.049     1.256           1         18.879999                 1
3      1.052     0.155           1         18.760000                 1
4      1.052     0.155           1         18.760000                 1

   statusdmc  id_dmc
0          1    2019
1          1    1987
2          1    1996
3          1    2030
4          1    2030

In [11]:
#MEB_GROB 
# print(data['MEB_GROB'].columns)
# print(data['MEB_GROB'].head(5))
data['MEB_GROB'].drop(columns = ['shift_number', 'last_operation', 'timestamp', 'production_date', 'reworkrequested', 
                                'reworkdone', 'partcleaningisfinished', 'waitfortoolcheck', 'workingstep1', 'workingstep2', 'workingstep3', 'workingstep4', 'mms_ok'], inplace = True)
print("\n 'MEB_GROB' after drop of columns: \n")
print(data['MEB_GROB'].head(5))

 'MEB_GROB' after drop of columns:

   id_meb_grob  id_dmc  part_type  part_status  last_machine_number  \
0          105    5884          1            1                    1
1          106    5885          1            1                    1
2          107    5886          1            1                    1
3          108    5887          1            1                    1
4          109    5888          1            1                    1

   last_pcf_number  temp_workpiece  temp_hydraulics  pressure_pcf_1  \
0                2       21.299999        30.700001              99
1                1       21.000000        30.700001              99
2                2       20.900000        30.700001              99
3                1       20.700001        30.600000              99
4                2       20.600000        30.600000              99

   pressure_pcf_2  pressure_pcf_3  machine_nr
0             100              89           1
1             100              89           1
2             100              89           1
3             100              89           1
4             100              89           1

<h1>Łączenie tabel</h1>

In [12]:
#pd.set_option('display.max_columns', None)

# łączę tabele MEB_KO i MEB_KO_DGM z tabelami MEB_KO_STREFA/RODZAJ

data['MEB_KO'] = data['MEB_KO'].merge(data['MEB_KO_STREFA'], left_on='nok_strefa', right_on='indeks', how='inner')
data['MEB_KO'].drop(columns=['indeks'], inplace=True)

data['MEB_KO'] = data['MEB_KO'].merge(data['MEB_KO_RODZAJ'], left_on='nok_rodzaj', right_on='indeks', how='inner')
data['MEB_KO'].drop(columns=['indeks'], inplace=True)

data['MEB_KO_DGM'] = data['MEB_KO_DGM'].merge(data['MEB_KO_STREFA'], left_on='nok_strefa', right_on='indeks', how='inner')
data['MEB_KO_DGM'].drop(columns=['indeks'], inplace=True)

data['MEB_KO_DGM'] = data['MEB_KO_DGM'].merge(data['MEB_KO_RODZAJ'], left_on='nok_rodzaj', right_on='indeks', how='inner')
data['MEB_KO_DGM'].drop(columns=['indeks'], inplace=True)


#data['MEB_KO'].head()
#data['MEB_KO_DGM'].head()

In [13]:
# łączę tabelę MEB_DMC z tabelą MEB_KO

data['MEB_DMC'] = data['MEB_DMC'].merge(data['MEB_KO'], on='id_dmc', how='left')

#  do wyrzucenia kolumna timestamp oraz eks

#data['MEB_DMC'].head(1)

In [14]:
# łączę tabelę MEB_DGM z tabelą MEB_KO_DGM

data['MEB_DGM'] = data['MEB_DGM'].merge(data['MEB_KO_DGM'], left_on='id', right_on='id_dmc', how='left')
#data['MEB_DGM'].head(1)

In [15]:
# przygotowywuję tabelę ONI_CIRCUITS do połączenia 
# Tutaj będzie do zmiany, ponieważ usuwam część kolumn z ONI_CIRCTUIS - JR
# Przerobione ~ ŁO
oni_circuits = data['ONI_CIRCUITS'].pivot(index='id_dmc', columns='circuit_nr', values=['flow', 'temp'])
oni_circuits.columns = oni_circuits.columns.map('{0[0]}_{0[1]}'.format) 
oni_circuits.reset_index(inplace=True)


# łączę z tabelą MEB_DGM

oni_circuits = oni_circuits.merge(data['MEB_DGM'], left_on='id_dmc', right_on='id', how='left')
#oni_circuits.head(1)

In [16]:
# łączę tabelę MEB_DMC z ONI_CIRCUITS

data['MEB_DMC'] = data['MEB_DMC'].merge(oni_circuits, left_on='dmc_casting', right_on='dmc', how='left')
#data['MEB_DMC'].head(1)

In [17]:
# łączę tabelę MEB_DMC z tabelą MEB_GROB

data['MEB_DMC'] = data['MEB_DMC'].merge(data['MEB_GROB'], on='id_dmc', how='left')
#data['MEB_DMC'].head(1)

In [18]:
# łączę tabelę MEB_DMC z tabelą MEB_KS

data['MEB_DMC'] = data['MEB_DMC'].merge(data['MEB_KS'], on='id_dmc', how='left')
#data['MEB_DMC'].head(1)

In [19]:
"""connection=cx_Oracle.connect(username,password,dsn,encoding='UTF-8')
connection.version
connection.close()"""

"connection=cx_Oracle.connect(username,password,dsn,encoding='UTF-8')\nconnection.version\nconnection.close()"

In [20]:
"""try:
    with cx_Oracle.connect(username,password,dsn,encoding='UTF-8') as connection:
        with connection.cursor() as cursor:
            cursor.execute(dmc_sql)
            while True:
                row = cursor.fetchone()
                if row is None:
                    break
                print(row)
                data={'id':row[0],'dmc':row[1]}
    cursor.close()
    connection.close()
except cx_Oracle.Error as error:
    print(error)"""

"try:\n    with cx_Oracle.connect(username,password,dsn,encoding='UTF-8') as connection:\n        with connection.cursor() as cursor:\n            cursor.execute(dmc_sql)\n            while True:\n                row = cursor.fetchone()\n                if row is None:\n                    break\n                print(row)\n                data={'id':row[0],'dmc':row[1]}\n    cursor.close()\n    connection.close()\nexcept cx_Oracle.Error as error:\n    print(error)"

In [21]:
#dodej to Adam przystojniaku