In [371]:
#import cx_Oracle
import pandas as pd
import sqlalchemy
from sqlalchemy.exc import SQLAlchemyError

<h1>Pobieranie danych z bazy</h1>

In [372]:
data = {}

dbtables = ['ONI_CIRCUITS', 'MEB_DGM', 'MEB_DMC', 'MEB_DMC_GRADE', 'MEB_GROB', 'MEB_KO', 'MEB_KO_DGM', 'MEB_KO_RODZAJ', 'MEB_KO_STREFA', 'MEB_KS', 'MEB_KS_WZORC']
username = 'dmcro'
password = 'ouZ9Rys7astDp4byjUvO'
dsn = 'vwpnwrud0000rac:1521/dmc.vwg'
dbhostname='vwpnwrud0000rac'
service_name='dmc.vwg'

In [373]:
try:
    sqlalchemy_engine="oracle+cx_oracle://"+username+":"+password+"@"+dbhostname+"/?service_name="+service_name
    engine = sqlalchemy.create_engine(sqlalchemy_engine, arraysize=1000)
    for table in dbtables:
        query = f"select * from z3dmc.{table} where rownum<101"
        data.update({table: pd.read_sql(query, engine)})
except SQLAlchemyError as e:
    print(e)

<h1>Usuwanie zbędnych kolumn z tabel</h1>

In [374]:
print(list(data.keys()))
# Tabele, których wgl bym nie pobierał:
# MEB_CONTAINERS
# Okej, już jej nie będzie pobierało ~ ŁO

['ONI_CIRCUITS', 'MEB_DGM', 'MEB_DMC', 'MEB_DMC_GRADE', 'MEB_GROB', 'MEB_KO', 'MEB_KO_DGM', 'MEB_KO_RODZAJ', 'MEB_KO_STREFA', 'MEB_KS', 'MEB_KS_WZORC']

In [375]:
# ONI CIRCUITS
print(data['ONI_CIRCUITS'].head())
# TO DELETE: assigment, ref_time, set_point, start_delay, working_mode, timestamp, circuit_nr*
# * this column is necessary for using pd.pivot(), basically this column will drop itself after use. I deleted this column from drop() ~ ŁO
data['ONI_CIRCUITS'].drop(columns=['assigment', 'ref_time', 'set_point', 'start_delay', 'working_mode', 'timestamp'], inplace=True)
print("ONI_CIRCUITS after drop of columns: \n")
print(data['ONI_CIRCUITS'].head())

   id_circuit  assigment  flow  ref_time  set_point  start_delay  temp  \
0     2052059         17  11.6         0          0            2  87.0
1     2054892         17  14.3         0         15            2  97.2
2     2054900          2   9.6         0         25            5  92.1
3     2054908         17  11.1         0         35            2  77.8
4     2054916         17  13.3         0         15            2  78.0

   working_mode           timestamp  circuit_nr  id_dmc
0             3 2021-06-25 17:21:02          27  319248
1             2 2021-06-25 18:37:05           4  319339
2             0 2021-06-25 18:37:05          12  319339
3             2 2021-06-25 18:37:05          20  319339
4             2 2021-06-25 18:37:05          28  319339
ONI_CIRCUITS after drop of columns:

   id_circuit  flow  temp  circuit_nr  id_dmc
0     2052059  11.6  87.0          27  319248
1     2054892  14.3  97.2           4  319339
2     2054900   9.6  92.1          12  319339
3     2054908  11.1  77.8          20  319339
4     2054916  13.3  78.0          28  319339

In [376]:
# MEB_DGM
print(data['MEB_DGM'].columns)
print(data['MEB_DGM'].head(5))
# TO DELETE: 'timestamp','temp_pieca', 'oni_temp_curr_f1', 'oni_temp_curr_f2','oni_temp_fore_f1', 'oni_temp_fore_f2',
#  'vds_air_pressure','vds_vac_hose1', 'vds_vac_hose2', 'vds_vac_tank', 'vds_vac_valve1','vds_vac_valve2', 'czas_taktu',
#  'data_znakowania', 'data_odlania','metal_level', 'metal_pressure'
data['MEB_DGM'].drop(columns=['timestamp',
       'temp_pieca', 'oni_temp_curr_f1', 'oni_temp_curr_f2',
       'oni_temp_fore_f1', 'oni_temp_fore_f2', 'vds_air_pressure',
       'vds_vac_hose1', 'vds_vac_hose2', 'vds_vac_tank', 'vds_vac_valve1',
       'vds_vac_valve2', 'czas_taktu', 'data_znakowania', 'data_odlania',
       'metal_level', 'metal_pressure'], inplace=True)
print("MEB_DGM after drop of columns: \n")
print(data['MEB_DGM'].head(5))

Index(['id', 'dmc', 'nr_dgm', 'status', 'czas_fazy_1', 'czas_fazy_2',
       'czas_fazy_3', 'max_predkosc', 'cisnienie_tloka', 'cisnienie_koncowe',
       'nachdruck_hub', 'anguss', 'max_press_kolbenhub', 'timestamp',
       'temp_pieca', 'oni_temp_curr_f1', 'oni_temp_curr_f2',
       'oni_temp_fore_f1', 'oni_temp_fore_f2', 'vds_air_pressure',
       'vds_vac_hose1', 'vds_vac_hose2', 'vds_vac_tank', 'vds_vac_valve1',
       'vds_vac_valve2', 'czas_taktu', 'data_znakowania', 'data_odlania',
       'metal_level', 'metal_pressure'],
      dtype='object')
     id                    dmc  nr_dgm status  czas_fazy_1  czas_fazy_2  \
0   220  190627091611011003610      10      4         1850           88
1  3416  190719071611011006077      10      1         2197           89
2  3417  190719071811011006078      10      1         2184           86
3  3418  190719072011011006079      10      1         2159           89
4  3419  190719072111011006080      10      1         2175           89

   czas_fazy_3  max_predkosc  cisnienie_tloka  cisnienie_koncowe  ...  \
0         47.5          6.52                7                264  ...
1         46.5          6.59               11                285  ...
2         45.0          6.52                8                284  ...
3         45.5          6.54                6                284  ...
4         47.0          6.57                8                283  ...

   vds_vac_hose1  vds_vac_hose2  vds_vac_tank vds_vac_valve1 vds_vac_valve2  \
0           None           None          None           None           None
1           None           None          None           None           None
2           None           None          None           None           None
3           None           None          None           None           None
4           None           None          None           None           None

  czas_taktu data_znakowania data_odlania metal_level metal_pressure
0       None            None         None        None           None
1       None            None         None        None           None
2       None            None         None        None           None
3       None            None         None        None           None
4       None            None         None        None           None

[5 rows x 30 columns]
MEB_DGM after drop of columns:

     id                    dmc  nr_dgm status  czas_fazy_1  czas_fazy_2  \
0   220  190627091611011003610      10      4         1850           88
1  3416  190719071611011006077      10      1         2197           89
2  3417  190719071811011006078      10      1         2184           86
3  3418  190719072011011006079      10      1         2159           89
4  3419  190719072111011006080      10      1         2175           89

   czas_fazy_3  max_predkosc  cisnienie_tloka  cisnienie_koncowe  \
0         47.5          6.52                7                264
1         46.5          6.59               11                285
2         45.0          6.52                8                284
3         45.5          6.54                6                284
4         47.0          6.57                8                283

   nachdruck_hub  anguss  max_press_kolbenhub
0             28      25                 2457
1             31      33                 2457
2             31      29                 2457
3             30      31                 2457
4             32      29                 2457

In [377]:
#MEB_DMC
print(data['MEB_DMC'].columns)
print(data['MEB_DMC'].head(5))
# TO DELETE: 'timestamp', 'update_time','id_meb_containers', 'packed_time', 'first_packed_time', 'dmc_casting','production_step'
data['MEB_DMC'].drop(columns = ['timestamp', 'update_time','id_meb_containers', 'packed_time', 'first_packed_time', 'dmc_casting','production_step'], inplace = True)
print("MEB_DMC after drop of columns: \n")
print(data['MEB_DMC'].head(5))

Index(['id_dmc', 'dmc', 'status_koncowy', 'timestamp', 'update_time',
       'id_meb_containers', 'packed_time', 'first_packed_time', 'dmc_casting',
       'production_step'],
      dtype='object')
   id_dmc                                         dmc  status_koncowy  \
0    2063  0MH301103CVW41910090436321102S111910040455               2
1    2064  0MH301103CVW41910090436411102S111910040410               1
2    2065  0MH301103CVW41910090436521102S111910040350               2
3    2066  0MH301103CVW41910090436611102S111910040356               2
4    2067  0MH301103CVW41910090436721102S111910040345               2

            timestamp         update_time  id_meb_containers  \
0 2019-10-09 08:09:07 2019-11-06 05:40:27                366
1 2019-10-09 08:09:27 2019-11-06 05:50:29                  0
2 2019-10-09 08:13:58 2019-11-06 06:47:19                366
3 2019-10-09 08:17:45 2019-11-06 05:40:39                366
4 2019-10-09 08:18:05 2019-10-09 08:22:31                  0

          packed_time first_packed_time dmc_casting  production_step
0 2019-11-06 05:40:26              None        None            700.0
1 2019-10-09 08:18:06              None        None            500.0
2 2019-11-06 06:47:18              None        None            700.0
3 2019-11-06 05:40:38              None        None            700.0
4                 NaT              None        None              NaN
MEB_DMC after drop of columns:

   id_dmc                                         dmc  status_koncowy
0    2063  0MH301103CVW41910090436321102S111910040455               2
1    2064  0MH301103CVW41910090436411102S111910040410               1
2    2065  0MH301103CVW41910090436521102S111910040350               2
3    2066  0MH301103CVW41910090436611102S111910040356               2
4    2067  0MH301103CVW41910090436721102S111910040345               2

In [378]:
#MEB_KO
print(data['MEB_KO'].columns)
print(data['MEB_KO'].head(5))
# TO DELETE: 'data', 'timestamp', 'eks'
data['MEB_KO'].drop(columns = ['data', 'timestamp', 'eks'], inplace = True)
print("MEB_KO after drop of columns: \n")
print(data['MEB_KO'].head(5))

Index(['id_ko', 'id_dmc', 'nok_strefa', 'nok_rodzaj', 'status_ko', 'data',
       'timestamp', 'eks'],
      dtype='object')
   id_ko  id_dmc  nok_strefa  nok_rodzaj  status_ko                data  \
0   2803    2065           0           0          1 2019-10-09 08:16:03
1   2804    2064           0           0          1 2019-10-09 08:17:07
2   2805    2062           0           0          1 2019-10-09 08:18:34
3   2806    2063           0           0          1 2019-10-09 08:19:50
4   2807    2067         513         202          2 2019-10-09 08:22:31

            timestamp   eks
0 2019-10-09 08:16:04  None
1 2019-10-09 08:17:08  None
2 2019-10-09 08:18:35  None
3 2019-10-09 08:19:51  None
4 2019-10-09 08:22:31  None
MEB_KO after drop of columns:

   id_ko  id_dmc  nok_strefa  nok_rodzaj  status_ko
0   2803    2065           0           0          1
1   2804    2064           0           0          1
2   2805    2062           0           0          1
3   2806    2063           0           0          1
4   2807    2067         513         202          2

In [379]:
#MEB_KO_DGM
print(data['MEB_KO_DGM'].columns)
print(data['MEB_KO_DGM'].head(5))
# TO DELETE: 'data_odlania', 'timestamp', 'operator', 
data['MEB_KO_DGM'].drop(columns = ['data_odlania', 'timestamp', 'operator'], inplace = True)
print("MEB_KO_DGM after drop of columns: \n")
print(data['MEB_KO_DGM'].head(5))

Index(['id_ko', 'id_dmc', 'nok_strefa', 'nok_rodzaj', 'status_ko',
       'data_odlania', 'timestamp', 'operator', 'rodzaj_kontroli',
       'product_id', 'line_id'],
      dtype='object')
   id_ko  id_dmc  nok_strefa  nok_rodzaj  status_ko        data_odlania  \
0    497   72978           0           0          1 2020-09-01 10:04:00
1    498   72977           0           0          1 2020-09-01 10:02:00
2    499   72980           0           0          1 2020-09-01 10:07:00
3    500   72981           0           0          1 2020-09-01 10:08:00
4    501   73020         511         402          2 2020-09-01 11:10:00

            timestamp operator  rodzaj_kontroli product_id line_id
0 2020-09-01 10:41:22  5920                   1       None    None
1 2020-09-01 10:41:43  5920                   1       None    None
2 2020-09-01 10:42:24  5920                   1       None    None
3 2020-09-01 10:42:46  5920                   1       None    None
4 2020-09-01 11:25:23  5920                   2       None    None
MEB_KO_DGM after drop of columns:

   id_ko  id_dmc  nok_strefa  nok_rodzaj  status_ko  rodzaj_kontroli  \
0    497   72978           0           0          1                1
1    498   72977           0           0          1                1
2    499   72980           0           0          1                1
3    500   72981           0           0          1                1
4    501   73020         511         402          2                2

  product_id line_id
0       None    None
1       None    None
2       None    None
3       None    None
4       None    None

<h1>Łączenie tabel</h1>

In [380]:
# łączę tabele MEB_KO i MEB_KO_DGM z tabelami MEB_KO_STREFA/RODZAJ

data['MEB_KO'] = data['MEB_KO'].merge(data['MEB_KO_STREFA'], left_on='nok_strefa', right_on='indeks', how='inner')
data['MEB_KO'].drop(columns=['indeks'], inplace=True)

data['MEB_KO'] = data['MEB_KO'].merge(data['MEB_KO_RODZAJ'], left_on='nok_rodzaj', right_on='indeks', how='inner')
data['MEB_KO'].drop(columns=['indeks'], inplace=True)

data['MEB_KO_DGM'] = data['MEB_KO_DGM'].merge(data['MEB_KO_STREFA'], left_on='nok_strefa', right_on='indeks', how='inner')
data['MEB_KO_DGM'].drop(columns=['indeks'], inplace=True)

data['MEB_KO_DGM'] = data['MEB_KO_DGM'].merge(data['MEB_KO_RODZAJ'], left_on='nok_rodzaj', right_on='indeks', how='inner')
data['MEB_KO_DGM'].drop(columns=['indeks'], inplace=True)


#data['MEB_KO'].head()
#data['MEB_KO_DGM'].head()

In [381]:
# łączę tabelę MEB_DMC z tabelą MEB_KO

data['MEB_DMC'] = data['MEB_DMC'].merge(data['MEB_KO'], on='id_dmc', how='left')

#  do wyrzucenia kolumna timestamp oraz eks

data['MEB_DMC'].head()

,id_dmc,dmc,status_koncowy,id_ko,nok_strefa,nok_rodzaj,status_ko,kod_pola,rodzaj_uszkodzenia
0,2063,0MH301103CVW41910090436321102S111910040455,2,2806.0,0.0,0.0,1.0,Brak,Brak
1,2064,0MH301103CVW41910090436411102S111910040410,1,2804.0,0.0,0.0,1.0,Brak,Brak
2,2065,0MH301103CVW41910090436521102S111910040350,2,2803.0,0.0,0.0,1.0,Brak,Brak
3,2066,0MH301103CVW41910090436611102S111910040356,2,2808.0,0.0,0.0,1.0,Brak,Brak
4,2067,0MH301103CVW41910090436721102S111910040345,2,2807.0,513.0,202.0,2.0,S13,Mechaniczne - obróbka MF

In [382]:
# łączę tabelę MEB_DGM z tabelą MEB_KO_DGM

data['MEB_DGM'] = data['MEB_DGM'].merge(data['MEB_KO_DGM'], left_on='id', right_on='id_dmc', how='left')
data['MEB_DGM'].head()

,id,dmc,nr_dgm,status,czas_fazy_1,czas_fazy_2,czas_fazy_3,max_predkosc,cisnienie_tloka,cisnienie_koncowe,...,id_ko,id_dmc,nok_strefa,nok_rodzaj,status_ko,rodzaj_kontroli,product_id,line_id,kod_pola,rodzaj_uszkodzenia
0,220,190627091611011003610,10,4,1850,88,47.5,6.52,7,264,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3416,190719071611011006077,10,1,2197,89,46.5,6.59,11,285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3417,190719071811011006078,10,1,2184,86,45.0,6.52,8,284,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3418,190719072011011006079,10,1,2159,89,45.5,6.54,6,284,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3419,190719072111011006080,10,1,2175,89,47.0,6.57,8,283,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [383]:
# przygotowywuję tabelę ONI_CIRCUITS do połączenia 
# Tutaj będzie do zmiany, ponieważ usuwam część kolumn z ONI_CIRCTUIS - JR
# Przerobione ~ ŁO
oni_circuits = data['ONI_CIRCUITS'].pivot(index='id_dmc', columns='circuit_nr', values=['flow', 'temp'])
oni_circuits.columns = oni_circuits.columns.map('{0[0]}_{0[1]}'.format) 
oni_circuits.reset_index(inplace=True)


# łączę z tabelą MEB_DGM

oni_circuits = oni_circuits.merge(data['MEB_DGM'], on='id_dmc', how='left')
oni_circuits.head()

,id_dmc,flow_1,flow_2,flow_3,flow_4,flow_6,flow_7,flow_8,flow_9,flow_10,...,max_press_kolbenhub,id_ko,nok_strefa,nok_rodzaj,status_ko,rodzaj_kontroli,product_id,line_id,kod_pola,rodzaj_uszkodzenia
0,319248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,319320,NaN,NaN,NaN,NaN,NaN,NaN,11.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,319339,NaN,NaN,NaN,14.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,319340,NaN,NaN,NaN,NaN,NaN,7.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,319399,NaN,NaN,NaN,NaN,16.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [384]:
# łączę tabelę MEB_DMC z ONI_CIRCUITS

data['MEB_DMC'] = data['MEB_DMC'].merge(oni_circuits, on='id_dmc', how='left')
data['MEB_DMC'].columns

Index(['id_dmc', 'dmc_x', 'status_koncowy', 'id_ko_x', 'nok_strefa_x',
       'nok_rodzaj_x', 'status_ko_x', 'kod_pola_x', 'rodzaj_uszkodzenia_x',
       'flow_1', 'flow_2', 'flow_3', 'flow_4', 'flow_6', 'flow_7', 'flow_8',
       'flow_9', 'flow_10', 'flow_11', 'flow_12', 'flow_14', 'flow_15',
       'flow_16', 'flow_17', 'flow_18', 'flow_19', 'flow_20', 'flow_22',
       'flow_23', 'flow_24', 'flow_25', 'flow_26', 'flow_27', 'flow_28',
       'temp_1', 'temp_2', 'temp_3', 'temp_4', 'temp_6', 'temp_7', 'temp_8',
       'temp_9', 'temp_10', 'temp_11', 'temp_12', 'temp_14', 'temp_15',
       'temp_16', 'temp_17', 'temp_18', 'temp_19', 'temp_20', 'temp_22',
       'temp_23', 'temp_24', 'temp_25', 'temp_26', 'temp_27', 'temp_28', 'id',
       'dmc_y', 'nr_dgm', 'status', 'czas_fazy_1', 'czas_fazy_2',
       'czas_fazy_3', 'max_predkosc', 'cisnienie_tloka', 'cisnienie_koncowe',
       'nachdruck_hub', 'anguss', 'max_press_kolbenhub', 'id_ko_y',
       'nok_strefa_y', 'nok_rodzaj_y', 'status_ko_y', 'rodzaj_kontroli',
       'product_id', 'line_id', 'kod_pola_y', 'rodzaj_uszkodzenia_y'],
      dtype='object')

In [385]:
# łączę tabelę MEB_DMC z tabelą MEB_GROB

data['MEB_DMC'] = data['MEB_DMC'].merge(data['MEB_GROB'], on='id_dmc', how='left')
data['MEB_DMC'].columns

Index(['id_dmc', 'dmc_x', 'status_koncowy', 'id_ko_x', 'nok_strefa_x',
       'nok_rodzaj_x', 'status_ko_x', 'kod_pola_x', 'rodzaj_uszkodzenia_x',
       'flow_1',
       ...
       'workingstep1', 'workingstep2', 'workingstep3', 'workingstep4',
       'mms_ok', 'reworkrequested', 'reworkdone', 'partcleaningisfinished',
       'waitfortoolcheck', 'machine_nr'],
      dtype='object', length=105)

In [386]:
# łączę tabelę MEB_DMC z tabelą MEB_KS

data['MEB_DMC'] = data['MEB_DMC'].merge(data['MEB_KS'], on='id_dmc', how='left')
data['MEB_DMC'].head()

,id_dmc,dmc_x,status_koncowy,id_ko_x,nok_strefa_x,nok_rodzaj_x,status_ko_x,kod_pola_x,rodzaj_uszkodzenia_x,flow_1,...,przeciek,nrprogramu,temperaturatestu,statusszczelnosc,gradedmc_max,gradedmc_aktualny,statusdmc,nrformy,data,timestamp_y
0,2063,0MH301103CVW41910090436321102S111910040455,2,2806.0,0.0,0.0,1.0,Brak,Brak,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,2064,0MH301103CVW41910090436411102S111910040410,1,2804.0,0.0,0.0,1.0,Brak,Brak,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
2,2065,0MH301103CVW41910090436521102S111910040350,2,2803.0,0.0,0.0,1.0,Brak,Brak,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
3,2066,0MH301103CVW41910090436611102S111910040356,2,2808.0,0.0,0.0,1.0,Brak,Brak,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
4,2067,0MH301103CVW41910090436721102S111910040345,2,2807.0,513.0,202.0,2.0,S13,Mechaniczne - obróbka MF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT

In [387]:
"""connection=cx_Oracle.connect(username,password,dsn,encoding='UTF-8')
connection.version
connection.close()"""

"connection=cx_Oracle.connect(username,password,dsn,encoding='UTF-8')\nconnection.version\nconnection.close()"

In [388]:
"""try:
    with cx_Oracle.connect(username,password,dsn,encoding='UTF-8') as connection:
        with connection.cursor() as cursor:
            cursor.execute(dmc_sql)
            while True:
                row = cursor.fetchone()
                if row is None:
                    break
                print(row)
                data={'id':row[0],'dmc':row[1]}
    cursor.close()
    connection.close()
except cx_Oracle.Error as error:
    print(error)"""

"try:\n    with cx_Oracle.connect(username,password,dsn,encoding='UTF-8') as connection:\n        with connection.cursor() as cursor:\n            cursor.execute(dmc_sql)\n            while True:\n                row = cursor.fetchone()\n                if row is None:\n                    break\n                print(row)\n                data={'id':row[0],'dmc':row[1]}\n    cursor.close()\n    connection.close()\nexcept cx_Oracle.Error as error:\n    print(error)"

In [389]:
#dodej to Adam przystojniaku